@import '../../assets/styles/variable.scss';

.setting-sidebar {
  display: flex;
  justify-content: space-between;
  .settings-tab {
    width: 20%;
    background-color: $white;
    height: 100vh;
    border-radius: 10px;
  }
  .settings-section {
    width: 78%;
    background-color: $white;
    background-color: $white;
    height: fit-content;
    border-radius: 10px;
    .heading {
      p {
        height: 60px;
        padding-left: 40px;
        padding-top: 24px;
        border-bottom: 1px solid rgba(34, 34, 34, 0.12);
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.2px;
        font-family: $font-family-inter;
        line-height: 24px;
        color: $black_variation-2;
      }
    }

    strong {
      font-size: $font-size-16;
      color: $black_variation-2;
    }

    .settings-form-container {
      padding-top: 32px;
      // width: 60%;
      padding-left: 40px;
      padding-bottom: 72px;
      .organization-button-container {
        display: flex;
        flex-direction: row;
        width: 280px;
        justify-content: flex-end;
        .white-button {
          margin-right: 16px;
          min-width: 80px;
        }
      }
      .form-group {
        width: 440px;
        height: 100%;
        label {
          padding-left: 2px;
          font-weight: $font-weight-400;
          font-family: $font-family-inter;
        }
        input {
          background-color: #f5f5f5;
          color: $black_variation-2;
          font-family: $font-family-inter;
          &::placeholder {
            font-weight: $font-weight-400;
            font-size: $font-size-14;
            line-height: $line-height-20;
            letter-spacing: $letter-spacing-point1;
            text-transform: lowercase;
            color: $black_variation-2;
            font-family: $font-family-inter;
          }
        }
        .time-picker {
          width: 280px;
          min-height: 48px;
        }
      }
      p {
        font-weight: $font-weight-normal;
        font-size: $font-size-12;
        line-height: $line-height-16;
        letter-spacing: $letter-spacing-point1;
        color: $grey_variation-3;
        text-align: left;
        display: block;
        font-family: $font-family-inter;
        Link,
        a {
          color: #0597f2;
          // text-decoration: underline;
        }
      }
      .sub-headings {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 6px;
        font-weight: $font-weight-500;
        color: $black_variation-2;
        line-height: 22px;
        font-family: $font-family-inter;
        letter-spacing: 0.2px;
      }
    }

    .form-switch {
      margin-top: 20px;
      label {
        font-weight: $font-weight-normal;
        font-size: 12px;
        text-transform: none;
        color: #7a7a7a;
        letter-spacing: 0.1px;
        line-height: 16px;
        font-family: $font-family-inter;
      }
      .form-check-input {
        width: 36px;
        height: 18px;
        outline: 0 !important;
        box-shadow: none;
        &.form-check-input:checked {
          background-color: $green;
          border-color: $green;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb(255, 255, 255)'/%3e%3c/svg%3e") !important;
          border: 1px solid $green;
        }
      }
    }
  }
}

.settings-tab {
  ul {
    padding-top: 24px;
    li {
      display: flex;
      justify-content: space-between;
      font-size: $font-size-14;
      line-height: $line-height-16;
      letter-spacing: $letter-spacing;
      text-transform: capitalize;
      color: $grey_variation-3;
      margin-bottom: 6px;
      padding: 20px 24px;
      border-left: 2px solid transparent;
      cursor: pointer;
      &.active {
        background: $green_variation-2;
        color: $green;
        border-left: 2px solid $green;
        img {
          display: flex;
        }
      }
      img {
        display: none;
      }
    }
  }
}
