[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    docs,
    frontend,
    sandbox
max-complexity = 10
docstring-convention = google
classmethod-decorators =
    classmethod
    validator
    root_validator
