@import '../../assets/styles/variable.scss';

.dashboard-layout {
  background: $white;
  border-radius: 10px;
  margin-bottom: 12px;

  .dashboard-container {
    padding: 12px 24px;
    .common-option {
      .selectcategory--is-disabled,
      .css-2b097c-container {
        width: 162px !important;
        .selectcategory__control--is-disabled {
          .selectcategory__value-container {
            .selectcategory__single-value {
              color: #7a7a7a !important;
            }
          }
        }
      }
    }
    &.drilldown-disable {
      display: none;
    }
  }

  &.dashboard-header-tab {
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &.dashboard-layout-change {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .dashboard-subcategory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    padding-bottom: 16px;
    .selectcategory__control {
      background: $grey_variation-2;
      border-radius: 6px;
      border: none;
    }
    .css-1hwfws3 {
      padding: 2px 8px !important;
    }

    .css-9gakcf-option {
      background-color: $green_variation-2 !important;
      color: $black_variation-2 !important;
      height: 48px;
      font-weight: $font-weight-400 !important;
      font-size: $font-size-14 !important;
      line-height: $line-height-20 !important;
      letter-spacing: $letter-spacing !important;
      display: flex;
      align-items: center;
      &--is-focused {
        background-color: $green_variation-2 !important;
      }
    }
    .css-yt9ioa-option {
      background-color: $white !important;
      color: $black_variation-2 !important;
      height: 48px;
      font-weight: $font-weight-400 !important;
      font-size: $font-size-14 !important;
      line-height: $line-height-20 !important;
      letter-spacing: $letter-spacing !important;
      display: flex;
      align-items: center;
      &--is-focused {
        background-color: $green_variation-2 !important;
      }
    }
    .selectcategory__option {
      display: flex !important;
      align-items: center !important;
    }

    .selectcategory__placeholder,
    .selectcategory__single-value {
      font-weight: $font-weight-400;
      font-size: $font-size-14;
      line-height: $line-height-20;
      letter-spacing: $letter-spacing-point1;
      color: $black_variation-2 !important;
    }
    ​ .selectcategory__dropdown-indicator,
    .css-tlfecz-indicatorContainer {
      color: $black_variation-2;
    }
  }
  .dashboard-graph-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .common-graph {
      width: 100%;
      min-height: 333px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      .highcharts-container {
        margin-bottom: 0px;
      }
    }
  }
  .preload {
    position: static !important;
  }
  .dashboard-aggregate-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 118px;
    padding-bottom: 15px;
    .aggregate-card-container {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
  }
  .dashboard-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(34, 34, 34, 0.12);
    cursor: pointer;
    .dashboard-header {
      h3 {
        font-weight: $font-weight-600;
        font-size: $font-size-20;
        line-height: $line-height-22;
        letter-spacing: $letter-spacing-point4;
        color: $black_variation-2;
        // padding: 24px 24px 18px 24px;
        padding: 24px;
      }
    }
    &.header-wrapper-disable {
      border: none !important;
    }
    .header-collapse {
      cursor: pointer;
      img {
        // padding: 24px 24px 18px 24px;
        padding: 24px;
      }
    }
    .header-disable {
      img {
        transform: rotate(180deg);
      }
    }
  }
  .common-tab-hide {
    ul {
      visibility: hidden;
    }
  }
  .common-subsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .subsection-heading {
      h3 {
        font-weight: $font-weight-600;
        font-size: $font-size-20;
        line-height: $line-height-30;
        color: $black_variation-2;
      }
    }
  }
  .common-drilldown-graph-none {
    display: none;
  }

  .common-drilldown-graph {
    height: 315px;
    margin: 48px 0px;
    width: 100%;
  }
  .common-drilldown-table {
    margin-bottom: 12px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    width: 100%;
    .table {
      thead {
        th {
          padding: 16px;
        }
      }
      tbody {
        td {
          padding: 16px;
        }
      }
    }
  }
}
.dashboard-subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(34, 34, 34, 0.12);
  .css-1hwfws3 {
    padding: 2px 8px !important;
  }
}
.disable-next {
  visibility: hidden;
}
.previous-step {
  transform: rotate(180deg);
}

.selectcategory__menu-list::-webkit-scrollbar {
  overflow-y: scroll !important;
  width: 7px !important;
}
.selectcategory__menu-list::-webkit-scrollbar-thumb {
  background: rgba(87, 87, 90, 0.8);
  border-radius: 4px;
  width: 5px;
}
.time-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35px;
}
.time-stamp {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
