@import '../../assets/styles/variable.scss';
.aggregate-parent-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  .aggregate-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    .card-border {
      width: 4px;
      height: 100%;
      border-radius: 3px 0px 0px 3px;
    }
    .card-border.accent-blue {
      background-color: #0597f2;
    }
    .card-border.primary-green {
      background-color: #60ca9a;
    }
    .card-border.main-grey {
      background-color: #7a7a7a;
    }
    .card-border.main-dark {
      background-color: #222222;
    }
    .content-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: #f9f9f9;
      height: 100%;
      width: 95%;
    }
  }
}
