@import '../../assets/styles/variable.scss';

.faq-section {
  width: 360px;
  padding-top: 16px;
  .faq {
    &__wrapper-content {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $grey_variation-9;
    }
    &__title {
      margin-bottom: 20px;
      margin-top: 24px;
      h2 {
        font-weight: $font-weight-500;
        font-size: $font-size-18;
        line-height: $line-height-18;
        color: $black_variation-2;
      }
    }
    &__separate_links {
      display: flex;
      flex-direction: column;
      li {
        margin-bottom: 12px;
        a {
          label {
            font-weight: $font-weight-400;
            font-size: $font-size-14;
            line-height: $line-height-20;
            color: $blue;
            letter-spacing: $letter-spacing-point1;
            cursor: pointer;
          }
        }
        &:last-child {
          margin-bottom: 24px;
        }
      }
    }
    &__support-content {
      margin-top: 24px;
      p {
        font-weight: $font-weight-400;
        font-size: $font-size-14;
        line-height: $line-height-24;
        letter-spacing: $letter-spacing;
        color: $grey_variation-3;
        a {
          color: $blue;
        }
      }
    }
  }
  h3 {
    font-weight: $font-weight-400;
    font-size: 16px;
    line-height: $line-height-24;
    color: $black_variation-2;
    margin-bottom: 6px;
  }
}
