@import '../../assets/styles/variable.scss';

.homepage-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  .css-2b097c-container {
    width: 140px;
    .css-1hwfws3 {
      padding: 2px 8px !important;
    }
  }
  .homepage-search-dropdown {
    display: flex;
    .form-group {
      margin-right: 24px;
      margin-bottom: 0px;
    }
  }
}
.kpi-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  box-shadow: 4px 6px 32px -2px rgba(226, 226, 234, 0.24);
  border-radius: 10px;
  width: 100%;
  padding: 24px;
  margin-bottom: 16px;
  h3 {
    font-weight: $font-weight-500;
    font-size: $font-size-16;
    line-height: $line-height-22;
    text-transform: capitalize;
    color: $black_variation-2;
    // margin-bottom: 8px;
    &.name-tooltip {
      max-width: 83%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      white-space: initial;
      word-break: break-word;
      hyphens: auto;
      overflow-wrap: break-word;
    }
  }
  label {
    font-weight: $font-weight-400;
    font-size: $font-size-14;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing;
    text-transform: capitalize;
    color: $grey_variation-3;
    margin-bottom: 8px;
  }
  span {
    font-weight: $font-weight-500;
    font-size: $font-size-16;
    line-height: $line-height-22;
    text-transform: capitalize;
    color: $black_variation-2;
    display: flex;
    align-items: center;
    label {
      font-weight: $font-weight-400;
      font-size: $font-size-16;
      line-height: $line-height-22;
      letter-spacing: $letter-spacing;
      text-transform: capitalize;
      margin-bottom: 0px;
      margin-left: 12px;
      display: flex;
      align-items: center;
      img {
        margin-right: 4px;
      }
      &.high-change {
        color: $green;
      }
      &.low-change {
        color: $red_variation_1;
      }
      &.anomalies-period {
        font-size: $font-size-12;
        margin-left: 2px;
      }
    }
    &.title-center {
      margin-bottom: 0px;
    }
  }
  .kpi-details {
    font-weight: $font-weight-500;
    font-size: $font-size-14;
    line-height: $line-height-16;
    text-align: right;
    letter-spacing: $letter-spacing-point1;
    text-decoration-line: underline;
    color: $blue;
    cursor: pointer;
  }
  .kpi-content {
    display: flex;
    flex-direction: column;
    width: 17%;
    &.kpi-current {
      width: 15%;
    }
    &.kpi-content-label {
      width: 19%;
      label {
        margin-bottom: 0px;
      }
    }

    .highcharts-container {
      width: 85px !important;
    }
    .highcharts-root {
      width: 190px !important;
      height: 50px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .kpi-graph {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    div {
      overflow: visible !important;
      .highcharts-container {
        margin-bottom: 0px !important;
      }
    }
  }
}

.home-explore-wrapper {
  width: 100%;
}
.home-card-section {
  width: 78%;
}
.no-data-kpihome {
  min-height: 485px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.heading-option {
  .homepage-search-dropdown {
    display: flex;
    .form-group {
      margin-right: 24px;
      margin-bottom: 0px;
    }
    .css-2b097c-container {
      width: 250px;
    }
  }
}
.kpihome-heading {
  .css-1hwfws3 {
    padding: 2px 8px !important;
  }
}
.selectcategory__menu-list::-webkit-scrollbar {
  overflow-y: scroll !important;
  width: 7px !important;
}
.selectcategory__menu-list::-webkit-scrollbar-thumb {
  background: rgba(87, 87, 90, 0.8);
  border-radius: 4px;
  width: 5px;
}

.home-data-load {
  &.home-data-loader-page {
    display: block;
    width: 78%;
    background: #ffffff;
  }
  .preload {
    position: relative !important;
    left: 45%;
    top: 35%;
  }
}
.empty-data-span {
  margin-left: 26px;
}
