@import '../../assets/styles/variable.scss';
.dashboard-layout {
  background: $white;
  border-radius: 10px;
  margin-bottom: 12px;
  .dashboard-subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(34, 34, 34, 0.12);
  }
  .dashboard-container {
    padding: 12px 24px;
  }
  .dashboard-subcategory {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 13px;
    .css-2b097c-container {
      width: 266px;
    }
    .selectcategory__control {
      background: $grey_variation-2;
      border-radius: 6px;
      border: none;
    }

    .selectcategory__placeholder,
    .selectcategory__single-value {
      font-weight: $font-weight-500;
      font-size: $font-size-14;
      line-height: $line-height-17;
      letter-spacing: $letter-spacing-point15;
      color: $black_variation-2;
    }
    ​ .selectcategory__dropdown-indicator,
    .css-tlfecz-indicatorContainer {
      color: $black_variation-2;
    }
  }
  .dashboard-graph-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 23px;
    .common-graph {
      width: 49%;
      height: 300px;
      border: 1px solid $grey_variation-4;
      box-sizing: border-box;
      border-radius: 20px;
    }
  }
  .dashboard-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(34, 34, 34, 0.12);
    .dashboard-header {
      h3 {
        font-weight: $font-weight-600;
        font-size: $font-size-20;
        line-height: $line-height-22;
        letter-spacing: $letter-spacing-point4;
        color: $black_variation-2;
        padding: 24px 24px 18px 24px;
      }
    }
    &.header-wrapper-disable {
      border: none !important;
    }
    .header-collapse {
      cursor: pointer;
      img {
        padding: 24px 24px 18px 24px;
      }
    }
    .header-disable {
      img {
        transform: rotate(180deg);
      }
    }
  }
  .common-tab-hide {
    ul {
      visibility: hidden;
    }
  }
  .common-subsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .subsection-heading {
      h3 {
        font-weight: $font-weight-600;
        font-size: $font-size-20;
        line-height: $line-height-30;
        color: $black_variation-2;
      }
    }
    .form-switch {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0px;
      padding: 0px;
      cursor: pointer;
      .form-check-input {
        margin: 0px 8px 0px 0px;
        cursor: pointer;
        width: 36px;
        height: 18px;
        &.form-check-input:checked {
          background-color: $blue;
          border-color: $blue;
        }
      }
    }
  }
  .common-drilldown-graph {
    height: 315px;
    margin: 48px 0px;
  }
  .common-drilldown-table {
    margin-bottom: 12px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    width: 100%;
    .table {
      thead {
        th {
          padding: 16px;
        }
      }
      tbody {
        td {
          padding: 16px;
        }
      }
    }
  }
}
