{% extends "layout.html" %}

{% import "common.html" as common %}

{% block content %}

<h2 style="margin-bottom: 15px; {{ common.main_text }}">{{ alert_name }}</h2>

<hr>

<div class="alert-container" style="{{ common.main_text }}">

<h3 style="{{ common.main_text }}">Summary</h3>

<div style="{{ common.main_text }} margin-bottom: 0.5rem;">KPI Name: <strong>{{ kpi_name }}</strong></div>
<div style="{{ common.main_text }}">Date: <strong>{{ date }}</strong></div>

<h3 style="{{ common.main_text }}">Alert Message</h3>

<div style="{{ common.main_text }} margin-bottom: 1rem;">
{{ alert_message }}
</div>

{{ common.button_with_link("View KPI", kpi_link) }}
{{ common.button_with_link("Alerts Dashboard", alert_dashboard_link) }}

<hr style="margin-top: 1rem;">

<h3>Anomalies</h3>
<ul>
    {% for point in top_anomalies %}
    <li>
        {{ common.anomaly_point_formatting(point) }}
    </li>
    {% endfor %}
</ul>

</div>
{% endblock %}
