@import '../../assets/styles/addform.scss';

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  .form-check {
    border: 1px solid $grey_variation-1;
    background: $white;
    box-sizing: border-box;
    border-radius: 4px;
    width: 136px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      margin-left: 10px;
      font-weight: $font-weight-500;
      font-size: $font-size-14;
      line-height: $line-height-16;
      text-transform: capitalize;
      color: $black_variation-2;
    }
    &.active {
      border: 1px solid $green;
      background: $green_variation-2;
      label {
        color: $green;
      }
    }
    .form-check-input {
      margin-top: 0px;
    }
  }
}
.alert-setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  &.event-alert-send-setting {
    flex-direction: column;
  }
  .form-check {
    width: 48%;
    background: $white;
    display: flex;
    align-items: center;

    label {
      margin-left: 10px;
      font-weight: $font-weight-400;
      font-size: $font-size-14;
      line-height: $line-height-20;
      letter-spacing: $letter-spacing-point1;
      text-transform: capitalize;
      color: $black_variation-2;
      cursor: pointer;
      &.active {
        color: $green;
      }
    }
    .form-check-input {
      margin-top: 0px;
    }
  }
}
.form-group-label-margin {
  label {
    margin-bottom: 0px;
  }
}
