@import '../../assets/styles/variable.scss';

.header-section {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: $white;
  height: 70px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .sidebar-logo {
    padding-left: 29px;
    width: 177px;
    height: 32px img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .dropdown {
    cursor: pointer;
    .navbar-dropdown-menu {
      width: auto;
      left: -80px !important;
      top: 0px !important;
      img {
        margin-right: 8px;
        color: $grey_variation-3;
        height: 16px;
        width: 16px;
        top: 2px;
        left: 2px;
      }
      span {
        font-size: 14px;
        font-weight: $font-weight-normal;
        line-height: $line-height-22;
        align-items: center;
        color: $grey_variation-3;
      }
      &::before {
        border-bottom: 10px solid $white;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        align-items: center;
        content: '';
        position: absolute;
        right: 20%;
        top: -10px;
      }

      .dropdown-item {
        &:active {
          background-color: $grey-variation-8;
        }
      }
    }
    .userdetails {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 24px;
      .user-avatar {
        margin-right: 4px;
        width: 39px;
        height: 39px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background: $green_variation-2;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: $green;
        text-transform: capitalize;
      }
      .user-profile {
        .profile-dropdown {
          display: flex;
          align-items: center;
          img {
            width: 12px;
            height: 12px;
            margin-left: 16px;
          }
        }
        p {
          font-weight: $font-weight-500;
          font-size: $font-size-14;
          line-height: $line-height-16;
          letter-spacing: $letter-spacing;
          color: $black_variation-2;
        }
        label {
          font-weight: $font-weight-normal;
          font-size: $font-size-12;
          line-height: $line-height-14;
          letter-spacing: $letter-spacing-point4;
          text-transform: capitalize;
          color: $green_variation-3;
          cursor: pointer;
        }
      }
    }
  }
  ul {
    width: 200px;
    margin: 0px 50px !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    border: none;
    transform: translate3d(0px, 50px, 0px) !important;
    top: 15px !important;
    &::before {
      border-bottom: 10px solid $white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      align-items: center;
      content: '';
      position: absolute;
      right: 50%;
      top: -10px;
    }
    li {
      .dropdown-item {
        font-size: $font-size-14;
        line-height: $line-height-22;
        display: flex;
        align-items: center;
        color: $black_variation-2;
        padding: 8px 14px;
      }
    }
  }
}
