@import '../../assets/styles/variable.scss';

.table-section {
  background: $white;
  border-radius: 10px;
  min-height: 100vh;
  margin-bottom: 20px;
  overflow: hidden;
  .table {
    thead {
      tr {
        th {
          background: $black_variation-2;
          font-weight: $font-weight-600;
          font-size: $font-size-12;
          line-height: $line-height-18;
          color: $white;
          padding: 16px;
        }
      }
    }
    tbody {
      tr {
        td {
          font-weight: $font-weight-500;
          font-size: $font-size-14;
          line-height: $line-height-16;
          letter-spacing: $letter-spacing;
          text-transform: capitalize;
          color: $black_variation-2;
          height: 56px;
          vertical-align: middle;
          padding: 16px;
          .live-status {
            span {
              color: $green;
            }
          }
          .broken-status {
            span {
              color: $red_variation_1;
            }
          }
          .table-tips {
            display: flex;
            flex-direction: row;
            width: 250px;
            flex-wrap: wrap;
            margin-bottom: -8px;
            li {
              height: 24px;
              margin-right: 8px;
              margin-bottom: 8px;
              background: $grey_variation-2;
              border-radius: 4px;
              display: flex;
              align-items: center;
              span {
                font-weight: $font-weight-normal;
                font-size: $font-size-12;
                line-height: $line-height-14;
                color: $black_variation-2;
                padding: 5px 8px;
              }
            }
            .additional-tips-hide {
              display: none;
            }
            .additional-tips {
              background: $white;
              border: 0.7px solid $grey_variation-1;
              border-radius: 4px;
              img {
                width: 100%;
                height: 100%;
                padding: 0px 10px;
              }
              label {
                font-weight: $font-weight-500;
                font-size: $font-size-12;
                line-height: $line-height-14;
                padding: 5px 8px;
                font-size: 12px;
                line-height: 14px;
                color: $green;
                display: flex;
                align-items: center;
                img {
                  margin-left: 4px;
                  padding: 0px;
                }
              }
            }
          }
          .source-type {
            display: flex;
            align-items: center;
            img {
              width: 26px;
              height: 26px;
              margin-right: 8px;
            }
            span {
              font-weight: $font-weight-normal;
            }
          }
          .edit-information {
            visibility: hidden;
            cursor: pointer;
            img {
              width: 24px;
              height: 24px;
              margin: 0px !important;
            }
          }
        }
        &:hover {
          background-color: $green_variation-2;
          .edit-information {
            visibility: visible;
          }
        }
      }
    }
    .table-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      .table-action-icon {
        margin-right: 5px;
        cursor: pointer;
        .action-normal {
          display: block;
        }
        .action-active {
          display: none;
        }
        &:hover {
          .action-normal {
            display: none;
          }
          .action-active {
            display: block;
          }
        }
      }
    }
    .empty-table {
      td {
        text-align: center;
      }
    }
  }
}
