@import '../../assets/styles/variable.scss';

.anomaly-subcategory {
  min-height: 32px;
  .css-2b097c-container {
    width: 170px !important;
  }
  .option-selections {
    background: $white;
    border: 1px solid rgba(34, 34, 34, 0.12);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      padding: 8px;
      cursor: pointer;
      font-weight: $font-weight-400;
      font-size: $font-size-14;
      line-height: $line-height-16;
      color: $grey_variation-3;
      &.active {
        color: $green;
        font-weight: $font-weight-500;
        background: $green_variation-2;
        border-radius: 6px;
      }
    }
  }
}
.time-stamp {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.chartContainer {
  max-height: 400px;
}

.option-selections-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.time-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 38px;
}
.retrain-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 4px;
  .retrain-button {
    cursor: pointer;
    span {
      font-size: 14px;
      font-weight: 500;
      color: #0597f2;
    }
    img {
      stroke: #0597f2;
    }
  }
}
