@import '../../assets/styles/variable.scss';

.filter-scrollable {
  height: 100vh;
  overflow: auto;
  width: 100%;

  // Chrome,Edge & Opera
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    &-track {
      // background-color: rgba(245, 245, 245, 1) !important;
      background-color: $white !important;
    }

    &-thumb {
      background-color: rgba(189, 189, 189, 1) !important;
    }
    &-track,
    &-thumb {
      border-radius: 3px;
    }
  }
  // FireFox
  scrollbar-width: thin !important;
  scrollbar-color: rgba(189, 189, 189, 1) $white !important;
}
