.css-1uccc91-singleValue {
  text-transform: none !important;
}
.selectcategory__multi-value {
  .selectcategory__multi-value__label {
    text-transform: none !important;
  }
}
.preload {
  z-index: 9999 !important;
}

.data-sync-cls {
  width: 100%;
  text-align: center;
  span {
    font-weight: 500;
    color: grey;
  }
}
.next-step-navigate-edit-modal {
  display: flex;
  justify-content: center !important;
  margin-top: 24px;
  .btn {
    margin-left: 16px;
  }
}
