// colors
$white: #ffffff;
$white_variation-2: #ddd;
$black: #000000;
$black_variation-2: #222222;
$grey_variation-1: #bdbdbd;
$grey_variation-2: #f5f5f5;
$grey_variation-3: #7a7a7a;
$grey_variation-4: #f0f0f0;
$grey_variation-5: #f7f7f7;
$grey-variation-6: #dadada;
$grey-variation-7: #c3c3c3;
$grey-variation-8: #e9ecef;
$grey_variation-9: #e6e6e6;
$green: #60ca9a;
$green_variation-2: #effaf5;
$green_variation-3: #808080;
$blue: #0597f2;
$red_variation_1: #e96560;
$red-variation-2: #fef6f5;

// font-size
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-28: 28px;

// Line Height
$line-height-12: 12px;
$line-height-14: 14px;
$line-height-15: 15px;
$line-height-16: 16px;
$line-height-17: 17px;
$line-height-18: 18px;
$line-height-19: 19px;
$line-height-20: 20px;
$line-height-22: 22px;
$line-height-23: 23px;
$line-height-24: 24px;
$line-height-26: 26px;
$line-height-30: 30px;
$line-height-32: 32px;

// Letter Spacing
$letter-spacing-point1: 0.1px;
$letter-spacing-point15: 0.15px;
$letter-spacing: 0.2px;
$letter-spacing-point4: 0.4px;

//font-weight
$font-weight-normal: normal;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;

//font-family
$font-family-inter: Inter;
