@import '../../assets/styles/filterlayout.scss';

.heading-option {
  .heading-title {
    .alert-linked {
      display: flex;
      width: 99px;
      h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        color: #0597f2;
        margin-right: 6px;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
.alert-option-button {
  display: flex;
  .btn {
    margin-left: 16px;
  }
  .white-button {
    padding: 2px 16px;
  }
}
.no-alert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 74vh;
}
