body{
    font-family: "Inter","Helvetica","Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Noto Color Emoji","Segoe UI Symbol","Android Emoji","EmojiSymbols","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Noto Sans",sans-serif !important;
    background-color: #F5F5F5 !important;
    color: #222222;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Inter","Helvetica","Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Noto Color Emoji","Segoe UI Symbol","Android Emoji","EmojiSymbols","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Noto Sans",sans-serif !important;
    margin-top: 0 !important;
    margin-bottom: .5rem !important;
    line-height: 1.3 !important;
    color: #262b40 !important;
}


.custom-table .MuiPaper-root,.MuiPaper-root.MuiAccordion-root {
    box-shadow: unset;
}

.custom-table  .MuiTableBody-root td.MuiTableCell-root{
    font-family: "Inter",sans-serif !important;
    border-bottom: unset;
    font-size: 14px !important;
    padding: .75rem .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: left;
    color: #222222 !important;
}

.custom-table .MuiTableHead-root th.MuiTableCell-root {
    font-family: "Inter",sans-serif;
    background-color: #222222;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    /* padding-top: .75rem;
    padding-bottom: .75rem; */
    padding: 10px 15px !important;
    line-height: 16px;
    border-bottom: unset;
    text-align: left;
}
.custom-table .MuiTableHead-root th.MuiTableCell-root .MuiButtonBase-root:hover{
    color: #ffffff;
}
.custom-table .MuiTableHead-root th.MuiTableCell-root:first-child{
    border-top-left-radius: 10px;
}
.custom-table .MuiTableHead-root th.MuiTableCell-root:last-child{
    border-top-right-radius: 10px;
}

.custom-table.custom-dash-table .MuiTableBody-root td.MuiTableCell-root:first-child{
    padding: 0;
}
.custom-table .MuiInput-underline:before{
    border-bottom: unset !important;
}
.custom-table .MuiInput-underline:after{
    border-bottom: unset !important;
}
.custom-table .MuiPaper-root .MuiInputAdornment-positionEnd{
    display: none;
}
.custom-table .MuiPaper-root > .MuiToolbar-root .MuiInputBase-root{
    border: 1px solid #66799e !important;
    border-radius: 6px;
    padding: 0.3rem 1rem;
    min-width: 300px;
}
.custom-table .MuiPaper-root > .MuiToolbar-root .MuiIconButton-root:hover {
    background-color:unset;
}
button.MuiIconButton-root.close-button {
    position: absolute;
    right: 15px;
    top: 10px;
}
/* cards Layout */
.MuiCard-root,.MuiPaper-root.MuiAccordion-root {
    overflow: hidden;
    background-color: #fff;
    background-clip: border-box;
    /* border: .0625rem solid rgba(46,54,80,.125) !important; */
    border-radius: 10px !important;
    box-shadow: unset !important;
}
.MuiCardContent-root {
    padding: 1.25rem 1.5rem !important;
}

.graph-info-cards h4{
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #222222;
}
.graph-info-cards h3{
    font-weight: 600 !important;
    font-size: 18px !important;
    
}
.graph-info-cards h3.font-sm{
    font-size: 16px !important;
}
.graph-info-cards h6.small{
    font-size: 14px !important;
    color: #222222 !important;
    font-weight: normal !important;
}
.graph-info-cards .text-success{
    color: #60CA9A !important;
    font-weight: 500!important;
}
.graph-info-cards .text-danger{
    color: #E96560 !important;
    font-weight: 500!important;
}
/* .small-text-danger{
    background-color: #FA5252 !important;
    color: #fff !important;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 0.9rem !important;
    text-align: center;
    margin-bottom: 0 !important;
    margin-top: 6px !important;
}
.small-text-success{
    background-color: #05a677 !important;
    color: #fff !important;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 0.9rem !important;
    text-align: center;
    margin-bottom: 0 !important;
    margin-top: 6px !important;
} */

/* FORM Layout  */

.MuiInputBase-root{
    margin-top: 15px !important;
    border: unset !important;
}
.MuiInputLabel-formControl {
    position: relative !important;
    transform: unset !important;
}
.MuiInputLabel-outlined{
    transform: unset;
}
.MuiOutlinedInput-input {
    padding: .55rem 1.75rem .55rem .75rem !important; 
    font-family: "Nunito Sans",sans-serif !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    color: #66799e !important;
    border: .0625rem solid #d1d7e0 !important;
    border-radius: .5rem !important;
    box-shadow: inset 0 1px 2px rgb(46 54 80 / 8%) !important;
}
.MuiOutlinedInput-notchedOutline{
    border-color: unset !important;
    border: unset !important;
}
.MuiFormLabel-root{
    font-family: "Nunito Sans",sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    color: #4a5073 !important;
}

/* APPBAR */
.tab-with-border .MuiAppBar-colorPrimary{
    border: .0625rem solid rgba(46,54,80,.125) !important;
    color: #262b40 !important;

}
.MuiAppBar-colorPrimary{
    background-color: #fff !important;
    box-shadow: unset !important;
    border-bottom: .0625rem solid rgba(46,54,80,.125) !important;
    /* border-bottom: .0625rem solid rgba(46,54,80,.125) !important;
    border-left: .0625rem solid rgba(46,54,80,.125) !important; */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.MuiTab-textColorInherit.Mui-selected{
    color: #60CA9A !important;
    background-color: #fff !important;
    border:  unset  !important;
    margin-bottom: 0 !important;
    border-bottom: 3px solid #60CA9A !important;
    font-weight: 600 !important;

    
}
.MuiTabs-flexContainer > .MuiTab-textColorInherit{
    margin-left: 6px;
}
.MuiTab-wrapper{
    pointer-events: none;
}
.MuiButton-label{
    pointer-events: none;
}
/* .MuiTabs-root .MuiTab-root.MuiButtonBase-root{
    border-radius: unset !important;
} */
.MuiTab-textColorInherit{
    padding: 15px !important;
    border-radius: unset !important;
    color: #222222 !important;
    font-size: 18px !important;
    font-weight: normal !important;
    background-color:#fff !important;
    border: unset !important;
    text-transform: unset !important;
    font-family: "Inter",sans-serif !important;
}
/* button.MuiTab-root:not(:last-child) {
    margin-right: 1rem;
} */
.MuiPaper-root.chart-tab-card{
    border-top: unset !important;
    border-radius: unset !important;
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}
.MuiTabs-indicator{
    background-color: unset !important;
}
.loader{
    width: 100%;
    min-height: 500px;
    background: #f5f8fb;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.card .table td, .card .table th{
    max-width: 150px;
    white-space: break-spaces;
}
.tab-badge h4.title{
    font-size: 0.9rem;
}

.tab-badge .badge.bg-primary{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 30px;
    vertical-align: bottom;
}
.progress-lg {
    height: 4px !important;
    border-radius: 26px;
}
.MuiCard-root, .MuiPaper-root.MuiAccordion-root{
    background-color: #262B40;
    color: #fff;
}

.MuiPaper-root.MuiAccordion-root .MuiIconButton-label{
    color: #222222;
}
.MuiAccordion-root:before{
    background-color: transparent !important;
}
.MuiAccordionDetails-root{
    display: block !important;
}
.MuiAccordionDetails-root p{
    font-size: 12px;
}
.mr-3{
    margin-right: 30px !important;
}
.btn{
    min-width: 100px;
}
.MuiPaper-root.MuiStepper-root {
    background-color: transparent;
}
.display-flex-center{
    display: flex;
    align-items: center;
}
.pl-0{
    padding-left: 0 !important
}
.pr-0{
    padding-right: 0 !important;
}
.custom-cardData.MuiCard-root{
    position: relative;
}
.custom-cardData .MuiCardContent-root{
    padding: 8px !important;
}
.custom-cardData .graph-info-cards{
    max-width:92%;
    float: right;
}
.custom-cardData{
    position: relative;
    height: 100%;
}
.custom-cardData .cardData-titles{
    position: absolute;
    left: -5px;
    bottom: 40px;
}
.custom-cardData .cardData-titles .title{
    font-weight: normal;
    font-size: 12px;
    color: #7A7A7A !important;
    padding: 8px 0 !important;
    text-align: right;
}
.metrics-card{
    border: 1px solid #F5F5F5 !important;
    border-radius: 20px !important ;
    padding: 21px 0;
}
.metrics-card.card-grey{
    background: #F5F5F5 !important;
}
.kpi-sidebar.MuiCard-root{
    height: 100%;
}
.kpi-sidebar .sidebar-title{
    font-weight: 500;
    font-size: 14px;
    color: #222222 !important;
}
.kpi-sidebar .custom-sidebar-button{
    font-weight: 500;
    font-size: 14px;
    padding: 15px 24px;
    color: #7A7A7A !important;
    justify-content: left;
    text-transform: none;
    font-family: inherit;
    display: block;
    text-align: left;
    border-radius: 0;
}
.kpi-sidebar .custom-sidebar-button.active{
    background: #EFFAF5;
    color: #60CA9A !important;
    border-left: 2px solid #60CA9A;
}
.kpi-sidebar .custom-sidebar-button.active .right-icon{
    position: absolute;
    right: 12px;
}
.custom-dash-select .MuiOutlinedInput-root {
    margin-top: 0 !important;
    margin-bottom: 12px;
    height: 1.3em;
}
.custom-dash-select .MuiSelect-root {
    background: #F5F5F5;
    border-radius: 6px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    font-family: "Inter",sans-serif !important;
    color: #222222 !important;
    border: unset !important;
    padding: 10px 15px !important;
    box-shadow: unset !important;
}
.custom-cardData .MuiGrid-spacing-xs-2 > .MuiGrid-item{
    padding: 6px;
}
/* .graph-info-cards .min-height{
    min-height: 55px;
} */
.line-chart-card .MuiCardContent-root{
    padding: 0 !important;
}
.custom-dash-accordian.MuiPaper-root.MuiAccordion-root{
    background-color: #fff;    
    color: #222222;
    margin-top: 20px;
}
.custom-dash-accordian > .Mui-expanded{
    /* opacity: 0.12; */
    border-bottom: 1px solid #2222221f;
}
.custom-dash-accordian > .MuiIconButton-root{
    color: #60CA9A;
}
.custom-dash-accordian h4.title{
    font-weight: 600;
    font-size: 20px;
    color: #222222 !important;
    margin-bottom: 0 !important;
}
.custom-dash-accordian .MuiTab-textColorInherit{
    font-size: 16px !important;
    padding: 10px 4px !important;
    min-width: 125px !important;
}
.custom-dash-accordian .MuiTabs-root{
    max-width: 65%;
    margin-top: 15px;
}
.graph-info-cards .MuiSvgIcon-root{
    font-size: 16px;
}
.line-chart-card{
    border: 1px solid #F5F5F5 !important;
    border-radius: 20px !important ;
}
.custom-col-3.MuiGrid-grid-xs-3 {
    flex-grow: 0;
    max-width: 22%;
    flex-basis: 22%;
}
.custom-col-9.MuiGrid-grid-xs-9 {
    flex-grow: 0;
    max-width: 78%;
    flex-basis: 78%;
}
.custom-dash-accordian  .MuiAccordionDetails-root{
    position: relative;
}
.custom-dash-accordian .MuiSvgIcon-root{
    color: #222222;
}
.custom-dash-accordian .custom-dash-select{
    position: absolute;
    top: 35px;
    right: 15px;
    max-width: 75%;
}
.custom-dash-table h4{

} 
.custom-multidimension-table .MuiToolbar-root{
    display: none;
}
.MuiTabScrollButton-root.Mui-disabled{
    display: none;
}
div.label-switch {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #222222;
}
.label-switch.active .MuiIconButton-label{
    color: #fff;
}
.custom-dash-switch{
    display: flex;
    align-items: flex-end;
}
.custom-dash-switch .MuiGrid-root{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 4px;
}
.sidebar.collapse.bg-primary{
    background-color: #222222 !important;
    color: #BDBDBD !important;
}

/* Sidebar */
.sidebar.contracted .nav-item{
    width: 100% !important;
    text-align: center;
    white-space: break-spaces !important;
    border: unset;
}
.sidebar.contracted .nav-item > .nav-link{
    color: #BDBDBD;
    border: unset !important;
    padding: 10px 0;
}
.sidebar.contracted .nav-item.active > .nav-link{
    background-color: unset !important;
    color: #60CA9A;
    border: unset !important;
}
.sidebar.contracted .nav-item > .nav-link .sidebar-title{
    opacity: 1 !important;
    color: inherit !important;
    font-family: "Inter",sans-serif !important;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.2px;    
}
.dropdown-divider{
    border-top: unset !important;
    height: 0 !important;
}
.sidebar.contracted .nav-item.active > .nav-link .sidebar-title{
    font-weight: 600;
}
.sidebar .nav-link .sidebar-icon{
    margin-right: unset !important;
}
.sidebar.contracted .nav-item .nav-link:hover{
    background-color: unset !important;
    color: #BDBDBD !important; 
}
.sidebar .nav-link:focus{
    box-shadow: unset !important;
}
.sidebar-inner{
    min-height: 100vh;
}
.sidebar-inner .bottom-nav{
    bottom: 70px;
    position: absolute;
    left: 5px;
}
.home-page h2.main-title{
    font-weight: 600;
    font-size: 24px;
    color: #222222;
    letter-spacing: 0.4px;
}
.home-page .custom-progress-bar .MuiLinearProgress-colorPrimary{
    background-color: #BDBDBD;
    opacity: 0.5;
    border-radius: 50px;
    height: 11px;
}
.home-page .custom-progress-bar > span{
    font-weight: normal;
    font-size: 12px;
    color: #222222;
    letter-spacing: 0.2px;
}
.home-page .setup-cards{
    color: #222222;
    background: #FFFFFF ;
    box-shadow: 4px 6px 32px -2px rgba(226, 226, 234, 0.24) !important;
    border-radius: 20px !important;
    min-height: 290px;
}
.home-page .setup-cards.active{
    background: url('./../img/homepage/background.svg');
    background-size: cover;
    color: #FFFFFF;

}
.home-page .setup-cards .MuiCardContent-root{
    padding: 40px  !important;
}
.home-page .setup-cards .MuiCardContent-root h4.title{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: inherit !important;
    margin-top:32px !important;
}
.home-page .setup-cards .MuiCardContent-root h4.sub-title{
    font-weight: normal;
    font-size: 14px;
    color: inherit  !important;
    line-height: 22px;
    opacity: 0.7;
}
.home-page .setup-cards .MuiCardContent-root .MuiButton-root{
    border-radius: 10px;
    box-shadow: unset;
    text-transform: unset;
    font-weight: 500;
    font-size: 14px;
}
.home-page .setup-cards .MuiCardContent-root .MuiButton-root.button-disabled{
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
}
.home-page .setup-cards .MuiCardContent-root .MuiButton-root.button-active{
    background: linear-gradient(101.44deg, #DEFB9D 0%, #71F79E 37%, #38F9D7 70%, #89C4FE 100%);
    color: #222222;
}
.home-page .setup-cards .MuiCardContent-root .MuiButton-root.button-success{
    color: #FFFFFF;
    background: #222222;
}
@media (min-width: 768px){
    .sidebar.contracted {
        max-width: 90px !important;
    }
}
@media (min-width: 600px){

.MuiTab-root {
    min-width: 145px !important;
}


}