
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito Sans",sans-serif !important;
    margin-top: 0 !important;
    margin-bottom: .5rem !important;
    line-height: 1.3 !important;
    color: #262b40 !important;
}


.custom-table .MuiPaper-root,.MuiPaper-root.MuiAccordion-root {
    box-shadow: unset;
}

.custom-table  .MuiTableBody-root td.MuiTableCell-root{
    font-family: "Nunito Sans",sans-serif !important;
    border-bottom: unset;
    font-size: .875rem !important;
    padding: .75rem .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: left;
}

.custom-table .MuiTableHead-root th.MuiTableCell-root {
    font-family: "Nunito Sans",sans-serif;
    background-color: #f5f8fb;
    color: #262b40;
    font-size: .75rem;
    font-weight: 700;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: unset;
    text-align: left;
}

.custom-table .MuiInput-underline:before{
    border-bottom: unset !important;
}
.custom-table .MuiInput-underline:after{
    border-bottom: unset !important;
}
.custom-table .MuiPaper-root .MuiInputAdornment-positionEnd{
    display: none;
}
.custom-table .MuiPaper-root > .MuiToolbar-root .MuiInputBase-root{
    border: 1px solid #66799e !important;
    border-radius: 6px;
    padding: 0.3rem 1rem;
    min-width: 300px;
}
.custom-table .MuiPaper-root > .MuiToolbar-root .MuiIconButton-root:hover {
    background-color:unset;
}
button.MuiIconButton-root.close-button {
    position: absolute;
    right: 15px;
    top: 10px;
}
/* cards Layout */
.MuiCard-root,.MuiPaper-root.MuiAccordion-root {
    overflow: hidden;
    background-color: #fff;
    background-clip: border-box;
    border: .0625rem solid rgba(46,54,80,.125) !important;
    border-radius: .5rem !important;
    box-shadow: unset !important;
}
.MuiCardContent-root {
    padding: 1.25rem 1.5rem !important;
}

.graph-info-cards h4{
    font-weight: 600 !important;
    font-size: 1rem !important;
}
.graph-info-cards h3{
    font-weight: 600 !important;
    font-size: 1.75rem !important;
}
.graph-info-cards h6.small{
    font-size: .875em !important;
    font-weight: normal !important;
}
.graph-info-cards .success-text{
    color: #05a677!important;
    font-weight: 600!important;
}
.graph-info-cards .danger-text{
    color: #fa5252!important;
    font-weight: 600!important;
}

/* .small-text-danger{
    background-color: #FA5252 !important;
    color: #fff !important;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 0.9rem !important;
    text-align: center;
    margin-bottom: 0 !important;
    margin-top: 6px !important;
}
.small-text-success{
    background-color: #05a677 !important;
    color: #fff !important;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 0.9rem !important;
    text-align: center;
    margin-bottom: 0 !important;
    margin-top: 6px !important;
} */

/* FORM Layout  */

.MuiInputBase-root{
    margin-top: 15px !important;
    border: unset !important;
}
.MuiInputLabel-formControl {
    position: relative !important;
    transform: unset !important;
}
.MuiInputLabel-outlined{
    transform: unset;
}
.MuiOutlinedInput-input {
    padding: .55rem 1.75rem .55rem .75rem !important; 
    font-family: "Nunito Sans",sans-serif !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    color: #66799e !important;
    border: .0625rem solid #d1d7e0 !important;
    border-radius: .5rem !important;
    box-shadow: inset 0 1px 2px rgb(46 54 80 / 8%) !important;
}
.MuiOutlinedInput-notchedOutline{
    border-color: unset !important;
    border: unset !important;
}
.MuiFormLabel-root{
    font-family: "Nunito Sans",sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    color: #4a5073 !important;
}

/* APPBAR */

.MuiAppBar-colorPrimary{
    background-color: #fff !important;
    box-shadow: unset !important;
    color: #262b40 !important;
    border: .0625rem solid rgba(46,54,80,.125) !important;
    /* border-bottom: .0625rem solid rgba(46,54,80,.125) !important;
    border-left: .0625rem solid rgba(46,54,80,.125) !important; */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.MuiTab-textColorInherit.Mui-selected{
    color: #262b40 !important;
    background-color: #fff !important;
    border:  unset  !important;
    margin-bottom: 0 !important;
    border-bottom: 3px solid #262b40 !important;
    
}
.MuiTabs-flexContainer > .MuiTab-textColorInherit{
    margin-left: 6px;
}
.MuiTab-wrapper{
    pointer-events: none;
}
/* .MuiTabs-root .MuiTab-root.MuiButtonBase-root{
    border-radius: unset !important;
} */
.MuiTab-textColorInherit{
    padding: .75rem .85rem;
    border-radius: unset !important;
    color: #506690 !important;
    background-color:#fff !important;
    border: unset !important;
    text-transform: unset !important;
}
/* button.MuiTab-root:not(:last-child) {
    margin-right: 1rem;
} */
.MuiPaper-root.chart-tab-card{
    border-top: unset !important;
    border-radius: unset !important;
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}
.MuiTabs-indicator{
    background-color: unset !important;
}
.loader{
    width: 100%;
    min-height: 500px;
    background: #f5f8fb;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.card .table td, .card .table th{
    max-width: 150px;
    white-space: break-spaces;
}
.tab-badge h4.title{
    font-size: 0.9rem;
}

.tab-badge .badge.bg-primary{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 30px;
    vertical-align: bottom;
}
.progress-lg {
    height: 4px !important;
    border-radius: 26px;
}
.MuiCard-root, .MuiPaper-root.MuiAccordion-root{
    background-color: #262B40;
    color: #fff;
}

.MuiPaper-root.MuiAccordion-root .MuiIconButton-label{
    color: #fff;
}
.MuiAccordion-root:before{
    background-color: transparent !important;
}
.MuiAccordionDetails-root{
    display: block !important;
}
.MuiAccordionDetails-root p{
    font-size: 12px;
}
.mr-3{
    margin-right: 30px !important;
}
.btn{
    min-width: 100px;
}
.MuiPaper-root.MuiStepper-root {
    background-color: transparent;
}
.display-flex-center{
    display: flex;
    align-items: center;
}
.pl-0{
    padding-left: 0 !important
} 
.pr-0{
    padding-right: 0 !important;

}
@media (min-width: 600px){

.MuiTab-root {
    min-width: 145px !important;
}


}